:global .title {
    font-weight: 600;
    font-size: .8rem;
    color: #a3a3a3;
    margin: 15px 0;
}

.Bio p {
    margin-bottom: 20px;
}

.text_small  {
    font-size: .8rem;
    color: #a3a3a3;
}

.Bio a {
    display: inline-block;
    color: inherit;
    font-weight: 600;
    padding: 8px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 var(--secondary);
    box-shadow: inset 0 -2px 0 var(--secondary);
    transition: all .2s ease-in-out;
}

.Bio a:hover {
    box-shadow: inset 0 -33px 0 0 #007bff;
    color: #fff;
}