.Hero {
    min-height: 100vh;
    padding-top: 10rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: wrap;
}

.Hero h1 {
    font-family: 'Abril Fatface', cursive, sans-serif;
    font-size: 12vw;
    text-transform: uppercase;
    line-height: 1;
}

.Hero > h1 > span {
    display: block;
    font-size: 16vw;
    margin-bottom: 15px;
}

.Hero > h1 > span,
.wrapper {
    width: 100%;
    margin-left: 0;
}

.Hero p {
    font-size: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

:global .technologie {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: 15px;
}


/*================ Responsive  ================*/
/* 48em = 768px */

@media (min-width: 48em) {
    .Hero h1 {
        font-size: 9.38vw;
    }

    .Hero > h1 > span,
    .wrapper {
        width: 60%;
        margin-left: calc(100% - 60%);
    }

    .Hero > h1 > span {
        display: block;
        font-size: 8.04vw;
        margin-bottom: 0;
    }

    .Hero p {
        font-size: 28px;
    }

    :global .technologie {
        display: flex;
        margin-top: 15px;
        margin-left: 0;
    }
}


/* 61.118em = 979px */

@media (max-width: 61.118em) {

    .Hero p {
        font-size: 20px;
    }
}