.Hero {
    min-height: 100vh;
    padding-top: 10rem;
}

.Hero h1 {
    font-family: 'Abril Fatface', cursive, sans-serif;
    font-size: 13.4vw;
    text-transform: uppercase;
    line-height: 1;
}

.Hero > h1 > span {
    display: block;
    margin-left: calc(100% - 60%);
    font-size: 6.1vw;
}

.Hero p {
    font-size: 28px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /* margin-left: 19.7vw; */
    margin-left: calc(100% - 60%);
}

:global .technologie {
    display: flex;
    margin-top: 15px;
}