.About {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-bottom: 5rem;
}

.About_content {
    width: 100%;
}

.About_img {
    width: 100%;
}

.About_img img {
    width: 100%;
    max-width: 90%;
    object-fit: cover;
    height: 400px;
}

/*================ Responsive  ================*/
/* 48em = 768px */

@media (min-width: 48em) {

    .About {
        grid-template-columns: repeat(2, 1fr);
    }

    .About_content {
        width: 60%;
    }
}