.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary);
    padding: 30px 0;
    padding-top: 50px;
}

.logo {
    font-family: .9rem;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.Header nav {
    position: absolute;
    transform: translateY(11.2rem);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--secondary);
    width: var(--container);
    z-index: 10;
}

/* Menu burger */
.menu_burger {
    width: 50px;
    height: 30px;
    background: transparent;
    cursor: pointer;
}

.menu_burger_bar,
.menu_burger_bar::before,
.menu_burger_bar::after {
    position: relative;
    display: block;
    width: 50px;
    height: 4px;
    background-color: var(--primary);
    transition: all .4s ease-in-out;
}

.menu_burger_bar::before,
.menu_burger_bar::after {
    content: "";
    position: absolute;
    left: 0;
}

.menu_burger_bar::before {
    transform: translateY(-12px);
}

.menu_burger_bar::after {
    transform: translateY(12px);
}

/* Menu burger toggle */
.Header.show_menu .menu_burger_bar {
    width: 0;
    background: transparent;
}

.Header.show_menu .menu_burger_bar::before{
    transform: rotate(45deg);
}

.Header.show_menu .menu_burger_bar::after{
    transform: rotate(-45deg);
}


/*================ Responsive  ================*/
/* 48em = 768px */

@media (min-width: 48em) {
    .Header nav {
        display: initial;
        position: relative;
        transform: translateY(0);
        border-radius: 10px;
        padding: 0;
        background-color: transparent;
        width: auto;
        z-index: 10;
    }

    .menu_burger {
        display: none;
    }
    
}