.Layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    transition: all .5s ease-in-out;
}

/* .Layout.background {
    --primary: #ffff;
    --white: #171c28;
  
    background-color: var(--white);
    color: var(--primary);
    transition: all .5s ease-in-out;
} */

.content {
    flex-grow: 1;
}

:global .container {
    max-width: var(--container);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/*================ Responsive  ================*/
/* 61.118em = 979px */

@media (max-width: 61.118em) {

    :root {
        --container: 88.5%;
    }
}