.Footer {
    border-top: 1px solid var(--primary);
    padding: 20px 0;
}

.Footer_columns {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.Footer_column {
    font-weight: 500;
    transition: all .4s ease-in-out;
}

.Footer_column:nth-child(2) {
    visibility: hidden;
}

/*================ Responsive  ================*/
/* 48em = 768px */

@media (min-width: 48em) {
    .Footer_column:nth-child(2) {
        visibility: visible;
    }
}