.Navigation__item {
    counter-increment: item 1;
    margin-right: 0;
    margin-bottom: 20px;
}

.Navigation__item a {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: color .3s;
}

.Navigation__item a:hover {
    color: var(--secondary);
}

.Navigation__item a::before {
    content: "0" counter(item) ".";
    display: block;
    font-size: .9rem;
    font-weight: 400;
    /* text-align: center; */
}

/*================ Responsive  ================*/
/* 48em = 768px */

@media (min-width: 48em) {
    .Navigation__item {
        margin-bottom: 0;
    }

    .Navigation__item:not(:last-child) {
        margin-right: 20px;
    }

    .Navigation__item a::before {
        text-align: left;
    }

    .Navigation__item a {
        font-size: 1rem;
        color: inherit;
    }
    
}