.Navigation {
    display: flex;
    flex-flow: column wrap;
}

/*================ Responsive  ================*/
/* 48em = 768px */

@media (min-width: 48em) {
    .Navigation {
        flex-flow: row wrap;
    }
    
}